body{

    background-color: rgb(226, 226, 226);
    margin: 0;

}

/*Navbar*/
#mainHeader{

    background-color: rgb(139, 0, 0);
    overflow: hidden;
}

.navBar{

    background-color: rgb(137, 100, 0);

    
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
   

    padding: 20px 40px;

    border: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
    
}

.test{

    
}

.test2{

    box-sizing: content-box;
    width: 250px;
    text-align: center;

}


.t3st{

    box-sizing: content-box;
    width: 250px;
    text-align: center;

}