
    @font-face {
    font-family: "Myth";
    src: url("../assets/fonts/Mythology\ Of\ Egypt.ttf")
}


body{

    background-color: rgb(226, 226, 226);
    margin: 0;
    font-family: "Poppins";
}

/*Navbar*/

#mainHeader {

    background-image: url("/assets/images/homeHeader.png");
    background-size:cover;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 1080px;
    text-align: end;
}


.navBar {

    background-color: #ffffffb0;
    
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

   
    margin: 50px 80px;

    border: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 40px;
}

.topLogo {

   padding-top: 5px;
}

.navLinks {

    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
}


.navLinks a{

    color: #000000;
    text-decoration: none;
    padding: 0px 20px;
    font-size: 18pt;
    font-weight: 600;
}

.linkI:hover {

    color: #15d5f5;
}

.searchBar {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
    height: 55px;

    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

.searchItem {

    background-color: #ffffff;
    border: none;
    font-size: 20px;
    color: #00000080;
}

.searchItem::placeholder{

   font-weight: 600;
   color: #000000;
}

.bar {

    border-right: solid #00000042 2px;
}


.searchItemI {

    background-color: #ffffff;
    border: none;
    font-size: 20px;
    color: #000000;
}

/*Header*/

.intro {

   margin-top: 450px;
}

.intro h1{

    display: flex;
    justify-self: end;
    text-align: start;
  
    margin: 0px;
    font-size: 96pt;
    font-family: "Myth";
    padding-right: 130px;
    color: #e9ad1c;
}

.intro h2{

    display: flex;
    justify-self: end;
    text-align: start;

    padding-right: 140px;
    
    margin: 0px;

    font-family: "Metamorphous";
    color: #ffffff;
    font-size: 24pt;
}


/*Blue Section*/

.blueSection {

    background-color: #002d68;
    height: 1080px;
}



/*White Sections*/

.witSectionI {

    background-color: #ffffff;
    height: 900px;
}

.witSectionII {

    background-color: #ffffff;
    height: 1080px;
}


/*Footer Section*/

.endSection {

    background-color: #ffffff;
    height: 450px;
}

.endInfo {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 60px;
    padding-left: 110px;
    padding-right: 110px;
   
    margin-left: 60px;
}

.fLeft {

    display: flex;
    flex-direction: column;
    text-align: left;

    box-sizing: content-box;
    width: 540px;
}

.fLeft p{

    font-size: 16pt;
    font-weight: 400;
    color: #000000a2;
}

.fLinks {

    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}

.fLinks h1{

    font-weight: 600;
    font-size: 18pt;

    padding-bottom: 10px;
}

.link2 {

    text-decoration: none;
    font-weight: 500;
    color:  #000000a2;
    font-size: 16pt;
}

.link2:hover{

    text-decoration: none;
    font-weight: 500;
    color:   #15d5f5;
    font-size: 16pt;
}


.socialM {

    display: flex;
    flex-direction: column;
}

.socialM h1{

    font-weight:600;
    font-size: 18pt;
    padding-bottom: 30px;
}

.socialImages {

    display: flex;
    flex-direction: row;
    gap: 20px;
}


.misc {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 16pt;
    color: #0000007e;
    
    margin-left: 160px;
    margin-right: 160px;
    margin-top: 60px;
   
    border-top: 2px solid #00000027;
}


.lSide {

    margin-left: -40px;
    padding-top: 20px;
}


.rSide {

   display: flex;
    padding-top: 20px;
   gap: 30px;

   font-size: 16pt;
   font-weight: 500;
   color: #000000a2;
}

/*End of Home Page*/

/*Start of the Adoption Page*/

#adHead {

    background-image: url("/assets/images/adoptHeader.png");
    background-size: 540px;
    overflow: hidden;
    background-repeat:no-repeat;
    height: 1080px;
    text-align: end;
}
